*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    font-family: 'Roboto', sans-serif;
    color: #ccc;
    overflow-x: hidden;
}
#header{
        width: 100%;
        height: 100vh;
        margin: auto;
        background: url(background.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
} 
 
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 10px;
}
.nav-top-left{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-top-left img{
    width: 50px;
}   
.nav-top-left h1{
    color: #a78209;
    font-size: x-larger;
    font-family: roboto;
}  

.nav-top-middle ul li{
   margin: 10px 20px;
   display: inline-block;
   list-style: none;
}  
.nav-top-middle ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #a78209;;
    font-family: 'Open Sans';
    text-transform: capitalize;
    padding: 0 5px;
    transition: .0s ease;
} 
.nav-top-middle ul li a:hover{
    border-bottom: 2px solid #ddd;
    
}
.nav-top-middle ul li:nth-child(1){
    background-color: #3b3434;
    padding: 6px 10px;
    border-radius: 5px;
    color: #dab928fa;
    border: 1px solid #dddddd57;
}
.nav-top-right{
    display: flex;
    align-items: center;
}
.nav-top-right button{
    width: 80px;
    height: 40px;
    background-color: #3b3434;
    border: 1px solid #dddddd57;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.4s;
}
.nav-top-right button:hover{
    background: #a78209;
    color: rgb(255, 255, 255);
    /* transform: translateY(-3px); */
}
.nav-top-right .hire{
    color: #dab928fa;
   font-size: 15px;
   font-weight: bold;
} 
/* ------------------------CONTENT AREA STARTS---------------------------------*/
.content{
   width: 90%;
   margin: auto;
   
}

.content .main-content{
    color: #ccc;
    
}

.title .get{
    font-family: "poppins";
    font-size: 18px;
    color: #ccc;
    padding-bottom: 20px;
    font-weight: 600;
}
.title h1{
    font-family:  roboto;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
}
 span{
  color: #a78209;
}


/* -----------------------menu-icons------------------------- */
 .nav-top-middle .fa-bars{
   color: #a78209;
   font-size: 30px;
   display: none;
   cursor: pointer;
}
.nav-top-middle #navbar .fa-xmark{
    color: #a78209;
    font-size: 30px;
    display: none;
    cursor: pointer;
}

/* ------------------------------ABOUT ME-------------- */
#about{
    width: 85%;
    margin: auto;
    padding: 50px 10px
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
    display: block;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
}
.about-col-1:hover img{
    transform: scale(1.1);
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 .sub-title{
    color: #ccc;
    padding-bottom: 10px;
    font-family: roboto;
    font-weight: 600;
    font-size: 35px;
    position: relative;
}
#about .about-col-2 .sub-title::after{
    content: '';
    width: 65px;
    height: 3px;
    border-radius: 5px;
    background: #ccc;
    position: absolute;
    left: 0;
    top: 80%;
   
}
.about-col-2 .about-me{
    padding-bottom: 10px;
    padding-top: 10px;
}
.info{
    display: flex;
    flex-direction: column;
}
.info .info-detail{
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
}
.info .info-detail h3{
    font-size: 15px;
    color: #685915fa;
    /* padding-right: 10px; */
}
.info-detail .info-sub-1{
    margin-left: 35px;
    font-size: 14px;
}
.info-detail .info-sub-2{
    margin-left: 50px;
    font-size: 14px;
}
.info-detail .info-sub-3{
    margin-left: 28px;
    font-size: 14px;
}
.info-detail .info-sub-4{
    margin-left: 35px;
    font-size: 14px;
}
.info-detail .info-sub-5{
    margin-left: 15px;
    font-size: 14px;
}
.media-links{
    margin: 15px 0 10px 0;
}
.media-links i{
    padding: 0 10px;
    color: #685915fa;
    font-size: 25px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.media-links i:hover{
   color: #997f0bfa;
   transform: translateY(-3px);
}
.more{
    display: flex;
    align-items: center;
    margin: 50px 0 0 0;
}
.more .btn{
    display: flex;
    align-items: center;
    margin-right: 25px;
    position: relative;
}
.btn i{
    position: absolute;
    padding-left: 5px;
    cursor: pointer;
    color: #dab928fa;
}
.btn button{
    width: 150px;
    height: 50px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #3b3434;
    transition: all .4s ease;
    border: 1px solid #dddddd57;
    box-shadow: -6px -6px 16px rgba(255, 255, 255, 0.178);
}
.btn button:hover{
    background-color: #3b3434b2;
}
.btn button a{
    padding-left: 2px;
    text-decoration: none;
    font-size: 12px;
    font-family: "poppins";
    font-weight: 700;
    color: #dab928fa;
}
/* ------------------------------my services area-------------- */
#service{
   width: 85%;
   margin: auto;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
    grid-gap: 30px;
    margin-top: 50px;
}
#service .mine{
   font-size: 35px;
   color: #ccc;
   margin-bottom: -20px;
   position: relative;
}
#service .mine::after{
    content: '';
    width: 65px;
    height: 3px;
    border-radius: 5px;
    background: #ccc;
    position: absolute;
    left: 0;
    top: 100%;
    /* margin-top: 40px;
    margin-left: -130px; */
}
.services-list div{
    background: #262626;
    padding: 20px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s;
    cursor: pointer;
}
.services-list div:hover{
    background: #a7820979;
    transform: translateY(-10px);
   
}
.services-list div i{
   font-size: 30px;
   margin-bottom: 30px;
   color: #a78209;
   width: 50px;
   height: 50px;
   background-color: #ccc;
   border-radius: 50px;
   text-align: center;
   line-height: 50px;
}
.services-list div h2{
  font-size: 25px;
  font-weight: 500px;
  margin-bottom: 15px;
} 
.services-list div .tell{
  font-size: 15px;
  font-weight: 500px;
  margin-bottom: 15px;
}
.services-list div span{
  font-size: 15px;
  font-weight: 500px;
  margin-top: 20px;
  display: inline-block;
  color: #a78209;
  font-weight: 500px;
  font-family: verdana;
  cursor: pointer;
}

/* ----------------------------portfolio------------------ */
#my-portfolio{
    width: 85%;
    margin: auto;
    padding-top: 10px;
}
#my-portfolio .portfolio{
    margin-top: 40px;
    margin-bottom: 20px;
}
#my-portfolio .work{
    color: #ccc;
    font-family: roboto;
    font-weight: 600;
    font-size: 35px;
    position: relative;
}
#my-portfolio .work::after{
    content: '';
    width: 65px;
    height: 3px;
    border-radius: 5px;
    background: #ccc;
    position: absolute;
    left: 0;
    top: 100%;
    /* margin-top: 40px;
    margin-left: -130px; */
}
#my-portfolio .work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 20px;
}
.sample{
    position: relative;
    display: block;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
}
.sample img{
   width: 100%;
   border-radius: 15px;
   display: block;
   transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #a78209);
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 35px;
    text-align: center;
    transition: height 0.5s ease;
    cursor: pointer;
}

.layer h4{
    font-size: 18px;
    font-weight: 600;
    color: #ccc;
    font-family: roboto;
    margin-bottom: 20px;
}
.layer p{
    font-size: 13px;
}
.layer a{
    margin-top: 20px;
    color: #a78209;
    text-decoration: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
}
.sample:hover img{
    transform: scale(1.1);
}
.sample:hover .layer{
    height: 100%;
}
.portfolio .btn_1{
    display: flex;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #a78209;
    border-radius: 10px;
    padding: 14px 50px;
    text-decoration: none;
    color: #ccc;
    transition: background 0.5s;
}
.portfolio .btn_1:hover{
    background: #a78209;
}
/* ------------------------------contact me-------------- */
#contact{
    width: 85%;
    margin: auto;
}
.contact-left{
    flex-basis: 35%;
}
.contact-left .work{
    margin-bottom: 20px;
    font-size: 35px;
    color: #ccc;
    position: relative;
}
.contact-left .work::after{
    content: '';
    width: 70px;
    height: 3px;
    border-radius: 5px;
    background: #ccc;
    position: absolute;
    left: 0;
    top: 100%;
    /* margin-top: 40px;
    margin-left: -130px; */
}
.contact-left p{
    padding: 10px 0;
}
.contact-left p i{
    padding: 0 5px;
    color: #a78209;
    font-size: x-large;
    margin-right: 10px;
    cursor: pointer;
}
.social-icons{
  margin-top: 20px;
}
.social-icons a{
   margin-right: 10px;
   display: inline-block;
  
}
.social-icons a i{
    background: #cccccc4f;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    color: #a78209;
    display: inline-block;
    transition: background .5s ease;
    transition: all .4s ease;
}
.social-icons a i:hover{
    background: #cccccc71;
    transform: translateY(-3px);
  }
.contact-right{
    flex-basis: 60%;
}
.contact-right form{
    width: 100%;
}
 form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #ccc;
    font-size: 18px;
    border-radius: 6px;
}
form button{
    background-color: transparent;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}
form .btn_1{
    display: inline-block;
    /* margin: 50px auto;
    width: fit-content; */
    border: 1px solid #a78209;
    border-radius: 10px;
    padding: 14px 50px;
    /* text-decoration: none; */
    color: #ccc;
    transition: background 0.5s;
    font-size: 15px;
    font-weight: 500;
}
form .btn_1:hover{
    background: #a78209;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: sans-serif;
}

/*********************************************media queries**************************/
@media screen and (max-width:600px){
    #header{
        width: 100%;
        height: 65vh;
        margin: auto;
        background-size: cover;
    }
    .navbar-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
       width: 95%;
       margin: auto;
    } 
    .nav-top-left img{
        width: 35px;
    }   
    .nav-top-left h1{
        color: #a78209;
        font-size: 20px;
        font-family: roboto;
    } 
    .nav-top-middle .fa-bars{
        display: block;
        position: absolute;
        right: 25px;
        top: 20px;
     }
     .nav-top-middle #navbar .fa-xmark{
         display: block;
         position: absolute;
         top: 25px;
         left: 25px;
     } 
    .nav-top-middle ul {
        background: #ccc;
        position: fixed;
        right: 0;
        top: 0;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 1001;
        transition: right 0.5s;
    }
    .nav-top-middle ul li{
       display: block;
       margin-top: 30px;
    }
    .nav-top-middle ul li a{
      font-size: 18px;
      font-weight: 500px;
    }
    .nav-top-right{
        display: flex;
        align-items: center;
        
    }
    
    .nav-top-right .hire{
        color: #dab928fa;
       font-size: 13px;
       font-weight: bold;
       display: none;
    } 
    .content{
        margin-top: 150px;
    }
    .content h1{
        font-size: 25px;
    }
    .title .get{
        font-size: 15px;
    }
    #about{
        width: 100%;
        margin: auto;
        padding: 30px 10px
    }
    .about-col-1{
        flex-basis: 100%;
        margin-bottom: 25px;
    }
    .about-col-2{
        flex-basis: 100%;
    }
    .about-col-2 .sub-title{
        font-size: 30px;
    }
    .about-col-2 .about-me{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .btn button{
        width: 110px;
        height: 50px;
        padding: 10px 13px;
        border-radius: 10px;
       
    }
    .btn button a{
        text-decoration: none;
        font-size: 10px;
    }
    .btn i{
        display: none;
    }
    #service{
        width: 95%;
        margin: auto;
     }
     .services-list{
      /* display: flex;
      flex-direction: column;
      width: 250px; */
    }
     #service .mine{
        font-size: 30px;
     }
     .services-list div h2{
        font-size: 25px;
        font-weight: 500px;
        margin-bottom: 15px;
      } 
      .services-list div .tell{
        font-size: 17px;
        font-weight: 500px;
        margin-bottom: 15px;
        letter-spacing: 1px;
        line-height: 21px;
      }
      #my-portfolio{
        width: 95%;
        margin: auto;
    }
    #my-portfolio .work{
        font-size: 25px;
    }
    #my-portfolio .work-list{
        /* display: flex;
        flex-direction: column;
        width: 250px; */
    }
    .portfolio .btn_1{
        display: block;
        margin: 30 auto;
        width: fit-content;
        border: 1px solid #a78209;
        border-radius: 10px;
        padding: 14px 30px;
        text-decoration: none;
        color: #ccc;
        transition: background 0.5s;
        font-size: 16px;
    }
    #contact{
        width: 95%;
        margin: auto;
    }
    .contact-left{
        flex-basis: 100%;
    }
    .contact-left .work{
        margin-bottom: 20px;
        font-size: 25px;
    }
    .contact-right{
        flex-basis: 100%;
    }
     form input, form textarea{
        width: 100%;
        border: 0;
        outline: none;
        background: #262626;
        padding: 15px;
        margin: 15px 0;
        color: #ccc;
        font-size: 15px;
        border-radius: 6px;
    }
      
}
@media  screen and (orientation:landscape) 
{
    .nav-top-right{
        display: none;
    }
    .content{
        margin-top: 150px;
    }
    .content h1{
        font-size: 25px;
    }
}
@media  screen and (orientation:landscape) 
and (min-device-width:375px)
and (max-device-width:667px)
{
    .nav-top-right{
        display: none;
    }
    .content{
        margin-top: 100px;
    }
    .nav-top-middle .fa-bars{
        display: block;
        position: absolute;
        right: 25px;
        top: 20px;
     }
     .nav-top-middle #navbar .fa-xmark{
         display: block;
         position: absolute;
         top: 25px;
         left: 25px;
     } 
    .nav-top-middle ul {
        background: #ccc;
        position: fixed;
        right: 0;
        top: 0;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 1001;
        transition: right 0.5s;
    }
    .nav-top-middle ul li{
       display: block;
       margin-top: 30px;
    }
    .nav-top-middle ul li a{
      font-size: 18px;
      font-weight: 500px;
    }
}
@media  screen and (orientation:landscape) 
and (min-device-width:360px)
and (max-device-width:740px)
{
    .nav-top-right{
        display: none;
    }
    .content{
        margin-top: 100px;
    }
    .nav-top-middle .fa-bars{
        display: block;
        position: absolute;
        right: 25px;
        top: 20px;
     }
     .nav-top-middle #navbar .fa-xmark{
         display: block;
         position: absolute;
         top: 25px;
         left: 25px;
     } 
    .nav-top-middle ul {
        background: #ccc;
        position: fixed;
        right: 0;
        top: 0;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 1001;
        transition: right 0.5s;
    }
    .nav-top-middle ul li{
       display: block;
       margin-top: 30px;
    }
    .nav-top-middle ul li a{
      font-size: 18px;
      font-weight: 500px;
    }
}
@media  screen and (orientation:portrait) 
and (min-device-width:768px)
and (max-device-width:1024px)
{
    .nav-top-right{
        display: none;
    }
    .content{
        margin-top: 30rem;
    }
    
}

